@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'tt-chiaro-B';
  src: url('/src/assets/fonts/TT_CHIARO-B.ttf') format('truetype');
}

@theme {
  --font-chiaro: "tt-chiaro-B", "Courier New", monospace;

  /* Base */
  --color-background: oklch(0.0383 0.0265 264.05);
  --color-foreground: oklch(0.7763 0 0);
  --color-accent: oklch(0.6217 0.2302 30.06);

  /* Gradient */
  --color-gradient-1: oklch(0.3142 0.089 268.84);
  --color-gradient-2: oklch(0.3414 0.0886 359.22);
}

@layer base {
  html {
      scroll-behavior: smooth;
  }

  body {
    @apply font-chiaro tracking-widest;
  }

  p {
    @apply leading-snug;
  }

	:focus-visible {
			@apply outline-none;
	}
}
